.App {
  text-align: center;
  display: flex;
    align-items: center;
    justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-button {
  background-color: Transparent; /* Green */
  border: 2px;
  color: rgb(235, 230, 230);
  padding: 1000px 1000px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 75px;
  vertical-align: middle;
  line-height: 50px;
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
